footer
  div.contain
    section.logos
      a(href='http://goodappl.es', target='_blank') Good Apples
      a(href='http://www.denvergov.org/tabid/436790/Default.aspx', target='_blank') Create Denver
    p
      a(href='https://github.com/talentedmrjones/hellodenver', target='_blank') Development 
      | by 
      a(href='http://talentedmrjones.com', target='_blank') The Talented Mr. Jones