!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://use.typekit.com/ikh7dvp.js')
    script() try{Typekit.load();}catch(e){}
  body!= body